extends email-layout

block content
    h2 Hi #{toName},
    p De volgende opportunities verlopen met #{expiringTime} dagen:
    .opp-container
        p(class='opp-block header') Klant
        p(class='opp-block header') Kans
        p(class='opp-block header') Datum
    each opp in opportunities
        .opp-container
            p(class="opp-block")= opp.account_name
            p(class="opp-block")= opp.name
            p(class='opp-block')= opp.date
    
    p(class='bottom-text') Je kan deze aanpassen in de webapplicatie.
    p Wil je ze minder vaak ontvangen, pas dan de expiring time aan je settings.