extends layout

block content
    .container
        .title-tile
            h1 Edit the opportunity
        .content-tile
            .inner
                form(action=`/opportunities/${opportunity._id}` method="POST")
                    .input-group
                        input(type='text'  name='account_name'  id='account_name' value=opportunity.account_name required)
                        label(for='account_name') Naam
                    .input-group
                        input(type='text'  name='name'  id='name' value=opportunity.name required)
                        label(for='name') Naam
                    .input-group
                        input(type='number' name='amount' id='amount' value=opportunity.amount required)
                        label(for='amount') Bedrag
                    .input-group
                        input(type='number' name='scotsman' id='scotsman' value=opportunity.scotsman required)
                        label(for='scotsman') Kans
                    .input-group
                        - var date = h.moment(opportunity.timing).format("YYYY-MM-DD")
                        input(type='date' name='timing' id='timing' value=date required)
                        label(for='timing' class='fixed') Datum
                    .input-group
                        input(type='text' name='status' id='status' value=opportunity.status required)
                        label(for='status') Status
                    .input-group
                        input(type='text' name='parent_id' id='parent_id' value=opportunity._id required)
                        label(for='parent_id' class='fixed') Origineel
                    .input-group
                        input(type='checkbox' name='order_received' id='order_received' checked=opportunity.order_received )
                        label(for='order_receiverd') Opdracht?
                    button(type='submit') Pas aan
