mixin opportunityCard(opp = {})
    .opp-container(data-customid=opp.original_id data-row='true')
        .opp-container-row
            p.hidden-name #{opp.account_name}
            p.name #{opp.name}
            p.amount= h.formatCurrency(opp.amount)
            p.scotsman #{opp.scotsman}%
            p.weighted_amount= h.formatCurrency(opp.weighted_amount)
            - var date = h.moment(opp.timing).format("Q")
            p.month #{date === 'Invalid date' ? "Q" : `Q${date}`}
            if opp.order_received
                a.btn.order(disabled)
                    i(class="fas fa-check")
            else
                a.btn(href=`/opportunities/${opp._id}`)
                    i(class="fal fa-edit")  
