mixin opportunityCard(opp = {})
    .opp-container
        p.name #{opp.name}
        p.amount #{opp.amount}
        p.scotsman #{opp.scotsman}
        p.weighted_amount #{opp.weighted_amount}
        p.month #{opp.timing}
